{% load static %}
<aside class="big_box_for_aside">
    <div class="now_hot_list">
      <header class="asdie_hearder_now_hot">
        <div class="title_now_hot">실시간 인기 글</div>
      </header>

      <article class="now_hot_no1">
        <div class="now_hot_no1_title">어린게 발랑 까져서~~~</div>
        <div class="now_hot_no1_content">너무 귀엽다</div>
        <footer class="now_hot_no1_footer">
          <div class="now_hot_no1_whereareyoufrom">비밀게시판</div>
          <div class="how_hot_no1">
            <div class="thumbs_up_no1">
              <img src="{% static 'img/container.articles.vote.png' %}" />
              <p>36</p>
            </div>
            <div class="comments_no1">
              <img src="{% static 'img/container.articles.comment.png' %}" />
              <p>2</p>
            </div>
          </div>
        </footer>
      </article>

      <article class="now_hot_no2">
        <div class="now_hot_no2_title">새내기들아 친구 엄청 쉽게 만들 수 있음</div>
        <div class="now_hot_no2_content">
          나같경 새내기때 학교에서 하는 건 거의 죄다 참여했음<br />새터부터
          시작해서 각종 개총 동아리 ds-fm 짝덕우 뻔선뻔후 스터디
        </div>
        <footer class="now_hot_no2_footer">
          <div class="now_hot_no2_whereareyoufrom">새내기게시판</div>
          <div class="how_hot_no2">
            <div class="thumbs_up_no2">
              <img src="{% static 'img/container.articles.vote.png' %}" alt="따봉" />
              <p>30</p>
            </div>
            <div class="comments_no2">
              <img src="{% static 'img/container.articles.comment.png' %}" />
              <p>2</p>
            </div>
          </div>
        </footer>
      </article>
    </div>

    <div class="hot_post_list">
      <header class="title_hot_post">HOT 게시물</header>
      <article class="hot_post_fst">
        <div class="hot_post_title">소미 오므라이스(배달) 비추</div>
        <div class="hot_post_when">03/28 14:23</div>
      </article>
      <article class="hot_post_snd">
        <div class="hot_post_title">스카에서</div>
        <div class="hot_post_when">03/28 12:37</div>
      </article>
      <article class="hot_post_trd">
        <div class="hot_post_title">⛺️2026 사회복지학전공 MT 후기⛺️</div>
        <div class="hot_post_when">03/24 17:50</div>
      </article>
      <article class="hot_post_fth">
        <div class="hot_post_title">노르웨이안우드</div>
        <div class="hot_post_when">03/27 23:13</div>
      </article>
    </div>

    <div class="best_list">
        <header class="title_best">BEST 게시물</header>
        <p>더보기</p>
    </div>
  </aside>