{% load static%}
<aside class="right-sidebar">
    
        <div class="sidebar-box">
            
            <div class="sidebar-title-box">
                <h3 class="sidebar-title">실시간 인기 글</h3>
            </div>

            <div class="sidebar-link">
                <article class="sidebar-item">
                    <p class="item-title">학교 4년동안 다니면서 가장무서웠던것</p>
                    <p class="item-content">조별과제도 미친교수도 아닌 4년째 똑같은 텐션과 친절함으로 맞아주시는 블다사장님...</p>
                    <div class="item-meta-wrap">
                        <span class="board-name">비밀게시판</span>
                        <img src="{% static "img/container.articles.vote.png" %}" alt="공감" class="vote-icon">
                        <span class="vote-count">91</span>
                        <img src="{% static "img/container.articles.comment.png" %}" alt="댓글" class="comment-icon">
                        <span class="comment-count">9</span>
                    </div>
                </article>
            </div>

            <div class="sidebar-link">
                <article class="sidebar-item">
                    <p class="item-title">3월 25일 11시~18시 학관 앞 플리마켓</p>
                    <p class="item-content">핫게 갈 수 있도록 공감 눌러주시면 감사해요 ㅎㅎ 안녕하세요!</p>
                    <div class="item-meta-wrap">
                        <span class="board-name">비밀게시판</span>
                        <img src="{% static "img/container.articles.vote.png" %}" alt="공감" class="vote-icon">
                        <span class="vote-count">48</span>
                        <img src="{% static "img/container.articles.comment.png" %}" alt="댓글" class="comment-icon">
                        <span class="comment-count">13</span>
                    </div>
                </article>
            </div>

        </div>

    <div class="sidebar-box">

        <div class="sidebar-title-box">
            <h3 class="sidebar-title">HOT 게시물</h3>
            <span class="more">더보기</span>
        </div>

        <article class="sidebar-hot-item">
            <p class="item-hot">🔥 운현극회 59기 무대디자인 부서 추가 모집</p>
            <span class="time">50분 전</span>
        </article>

        <article class="sidebar-hot-item">
            <p class="item-hot">우리학교 축제 주점 음주 관련 나에생각</p>
            <span class="time">36분 전</span>
        </article>

        <article class="sidebar-hot-item">
            <p class="item-hot">아이거지..</p>
            <span class="time">03/25 15:42</span>
        </article>

        <article class="sidebar-hot-item">
            <p class="item-hot">2학년되니까 강의실에서 이런기분임</p>
            <span class="time">03/25 14:35</span>
        </article>
        
    </div>

    

    </aside>