{% comment %} {% load static %}
<body>

    {% include 'header.html'%}

    {% load humanize %}
    <a href={% url 'posts:main' %}>메인페이지로 돌아가기</a><br><br>
    {% if request.user.is_authenticated %}
        <p>nickname : {{ user }}</p>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
    <hr>
    

    <h1>{{ category.name }}</h1>
    
    <form method="POST" action="{% url 'posts:create' category.slug %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" placeholder="제목 입력" name="title"><br>
        <textarea name="content" placeholder="본문 입력"></textarea><br><br>
        <div class="file">
            <input type="file" name="image">
            <input type="file" name="video">
        </div>
        <br>
        <input type="checkbox" name="is_anonymous">익명
        <input type="submit" value="작성 완료">
    </form>

    <hr>

    {% for post in posts %}

    {% if post.anonymity %}
        <h2><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <p>{{ post.created_at | naturaltime }}</p>
    {% else %}
        <h2><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <p>{{ post.created_at | naturaltime }}</p>
    {% endif %}
    <hr>
    {% empty %} <h2>글이 없습니다.</h2> {% endfor %}

</body>  {% endcomment %}
{% comment %} --------------------------- {% endcomment %}
{% comment %} 
{% load static %}
<body>
    {% load humanize %}
    <a href={% url 'posts:main' %}>메인페이지로 돌아가기</a><br><br>
    {% if request.user.is_authenticated %}
        <p>nickname : {{ user }}</p>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
    <hr>


    {% include 'header.html' %}

    {% include 'navigation.html' %}


    <h1>{{ category.name }}</h1>

    {% include 'section.html' %}

    {% include 'post.html' %}
</body> {% endcomment %}


{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% load humanize %}

    <a href={% url 'posts:main' %}>메인페이지로 돌아가기</a><br><br>
    {% if request.user.is_authenticated %}
        <p>nickname : {{ user }}</p>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
    <hr>

    {% include 'posts/header.html' %}

    {% include 'posts/navigation.html' %}


    {% include 'posts/section.html' %}

    {% include 'posts/aside.html' %}

    {% comment %} {% include 'posts/post.html' %} {% endcomment %}
</body>
</html>