{% load static %}
{% load humanize %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>{{ category.name }} - 에브리타임</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/post.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
</head>

<body>
    {% include "posts/header.html" %}

    {% include "posts/navigation.html" %}

    <div class="main_part">
        <section class="secret_board">
            <header class="header_for_sb_category">
                <p>{{ category.name }}</p>
            </header>

            <form class="writing_zone" method="POST" action="{% url 'posts:create' category.slug %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="title" class="title" placeholder="글 제목"/>
                <textarea name="content" class="main_content" placeholder="본문 입력"></textarea>
                
                <div class="bottom_option">
                    <input type="file" name="image">
                    <div class="options">
                        <input type="checkbox" name="is_anonymous"> 익명
                    </div>
                    <button type="submit" class="submit">작성 완료</button>
                </div>
            </form>

            <article class="showing_articles_in_one_page">
                {% for post in posts %}
                <article class="article1">
                    <a href="{% url 'posts:detail' post.id %}" style="text-decoration: none; color: inherit;">
                        <p class="title1">{{ post.title }}</p>
                        <p class="content1">{{ post.content|truncatechars:100 }}</p>
                        <p class="footer1">{{ post.created_at|naturaltime }} | {% if post.anonymity %}익명{% else %}{{ post.author }}{% endif %}</p>
                    </a>
                </article>
                {% empty %}
                <p style="padding: 20px; text-align: center;">글이 없습니다.</p>
                {% endfor %}
            </article>
        </section>

        {% include "posts/aside.html" %}
    </div>
</body>
</html>