{% load static %}




<section>
    <div class="sectionTilte">
        <h6 class="section1_title">비밀게시판</h6>
    </div>
    <div class="sectionContent">
        <div class="sectionFirst">
            <div class="writer">
                <div class="writerImg"><img src="{% static 'img/anonymous.profile.png' %}" width="30" height="30">
                </div>
                <div class="writerAbout">
                <p class="writername">
                    {% if post.is_anonymous %}
                        익명
                    {% else %}
                        {{ post.author.nickname }}
                    {% endif %}    
                
                </p>
                <p class="writeTime">{{ post.created_at }}</p>
                </div>
            </div>

            <div class="writerRight">
                {% if request.user == post.author %}
                <ul>
                <a href="{% url 'posts:update' post.id %}" class="sectionRight-menu" >수정하기</a>
                <a href="{% url 'posts:delete' post.id %}" class="sectionRight-menu">삭제하기</a>
                </ul>
                {% else %}
                    <li class="sectionRight-menu">쪽지</li>
                    <li class="sectionRight-menu">신고</li>
                </ul>
                {% endif %}
            </div>

        </div>  
        
        <div class="secitionContent">
            <p class="contentTitle">{{ post.title }}</p>
        </div>
        <div class="sectionContent2">{{ post.content }}
        </div>

        {% if post.image %}
            <image width="320" height="240" src="{{ post.image.url }}"></image>
        {% endif %}
        {% if post.video %}
            <video width="320" height="240" controls>
                <source src="{{ post.video.url }}" type="video/mp4" />
            </video>
        {% endif %}



        <div class="reaction">
            <img src="{% static 'img/container.articles.vote.png' %}" width="10" alt="likes">
                <span class="redTxt">{{ post.like.count }} &nbsp; </span>
                <img src="{% static 'img/container.articles.comment.png' %}" width="10" alt="chat">
                <span class="blueTxt">0</span>
                <img src="{% static 'img/container.articles.scrap.png' %}" width="10" alt="chat">
                <span class="yellowTxt">{{ post.scrap.count }}</span>
        </div>
        <div class="reactionButton">
            <div class="reaction_button1">
                <img src="{% static 'img/container.articles.buttons.posvote.png' %}" width="10" alt="chat">
                <span class="grayTxt1">
                {% if request.user in post.like.all %}
                <a href="{% url 'posts:remove-like' post.id %}"><input type="button" value="공감 취소" /></a>
                {% else %}
                <a href="{% url 'posts:add-like' post.id %}"><input type="button" value="공감" /></a>
                {% endif %}
                </span></div>
            <div class="reaction_button2">
                <img src="{% static 'img/container.articles.buttons.scrap.png' %}" width="10" alt="chat">
                <span class="grayTxt">
                        {% if request.user in post.scrap.all %}
                        <a href="{% url 'posts:remove-scrap' post.id %}"><input type="button" value="스크랩 취소" /></a>
                        {% else %}
                        <a href="{% url 'posts:add-scrap' post.id %}"><input type="button" value="스크랩" /></a>
                        {% endif %}
                    </span>
            </div>
        </div>
    </div>


    {% for comment in post.comments.all %}
    <div class="sectionComment">
        <!-- 기본 띄어지는 댓글창 -->
        <div class="sectionComment active">
            <div class="coment-box">
                <div class="writer">
                    <div class="writerImg"><img src="{% static 'img/anonymous.profile.png' %}" width="20" height="20">
                    </div>
                    <div class="writerAbout2">
                    <p class="writername2">
                        {% if comment.anonymity %} 익명 
                        {% else %} {{ comment.author.nickname }} 
                        {% endif %}
                    </p>
                    </div>
                </div>
                <ul class="comentWriter">
                    <li class="sectionRight-menu jscoment" >대댓글</li>
                    <li class="sectionRight-menu">공감</li>
                    <li class="sectionRight-menu">쪽지</li>
                    <li class="sectionRight-menu">
                        {% if request.user == comment.author %}
                        <a href="{% url 'posts:delete-comment' post.id comment.id %}">삭제하기</a>
                    {% endif%}</li>
                </ul>
            </div>
            <div class="comentValue">
                {{ comment.content }}
                <p class="writeTime">{{ comment.created_at }}</p>
            </div>


            <!-- 대댓글창 -->

            
        </div>

    </div>


    {% empty %} 댓글이 없습니다{% endfor %}

    <form method="POST" action="{% url 'posts:create-comment' post.id %}" class="comentContainer">
        {% csrf_token %}<input type="text" name="content" class="comentbox" placeholder="댓글을 입력하세요"></input>
        <ul class="textfunction">
            <li class="check-coment"><input type="checkbox" name="anonymity" value="anonymity_true" class="anonymousBox">
            익명
            </li>
            <li class="check-coment"><button type="submit" value="작성" class="writeButton"><img src="{% static 'img/container.articles.write.submit.png' %}"width="40px"height="40px" class="buttonImg" alt="글작성버튼"></button></li>
        </ul>
    </form>




    <div class="textList">
        <img src="{% static 'img/container.articles.pagination.list.png' %}" 
        width="10" height="10" alt="햄버거바">
        <p class="textlist_style">글 목록</p>
    </div>
</section>