{% comment %} <body>
    <a href={% url 'posts:main' %}>메인페이지로 돌아가기</a><br><br>
    {% if request.user.is_authenticated %}
        <p>nickname : {{ user }}</p>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
    <hr>

    <h2>{{ post.title }}</h2><br>
    <h3>{{ post.content }}</h3><br>

    {% if post.image %}
        <image width="320" height="240" src="{{ post.image.url }}"></image>
    {% endif %}
    {% if post.video %}
        <video width="320" height="240" controls>
            <source src="{{ post.video.url }}" type="video/mp4" />
        </video>
    {% endif %}

    <h3>{{ post.created_at }}</h3>
    {% if post.is_anonymous %}
        <h5>익명</h5>
    {% else %}
        <h5>{{ post.author.nickname }}</h5>
    {% endif %}

    {% if request.user == post.author %}
        <a href="{% url 'posts:update' post.id %}">수정하기</a>
        <a href="{% url 'posts:delete' post.id %}">삭제하기</a>
    {% endif %}

    <p>공감 {{ post.like.count }}개 스크랩 {{ post.scrap.count }}개</p>

    {% if request.user in post.like.all %}
    <a href="{% url 'posts:remove-like' post.id %}"><input type="button" value="공감 취소" /></a>
    {% else %}
    <a href="{% url 'posts:add-like' post.id %}"><input type="button" value="공감" /></a>
    {% endif %}


    {% if request.user in post.scrap.all %}
    <a href="{% url 'posts:remove-scrap' post.id %}"><input type="button" value="스크랩 취소" /></a>
    {% else %}
    <a href="{% url 'posts:add-scrap' post.id %}"><input type="button" value="스크랩" /></a>
    {% endif %}

    <hr>
    <h4>댓글</h4>
    <br>
    {% for comment in post.comments.all %} {% if comment.anonymity %} 익명: {% else %} {{ comment.author.nickname }}: {% endif %}
    {{ comment.content }} - {{ comment.created_at }}
    {% if request.user == comment.author %}
        <a href="{% url 'posts:delete-comment' post.id comment.id %}">삭제하기</a>
    {% endif%}
    <br>
    <br>
    {% empty %} 댓글이 없습니다 {% endfor %}

    <form method="POST" action="{% url 'posts:create-comment' post.id %}">
        {% csrf_token %} 댓글 <input type="text" name="content" /><input type="submit" value="작성" />
        <input type="checkbox" name="anonymity" value="anonymity_true" />익명
    </form>
    <hr>
    <br>
</body> {% endcomment %}




{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에브리타임 글 상세 페이지 & 작성 페이지 클론 코딩</title>
    <link rel="stylesheet" href="{% static "css/detail.css" %}">
</head>
<body>
<header class="main-header">
    <div class="header-inner">
        
        <div class="desktop-header">
            <div class="everytime-logo">
                <img src="{% static 'img/에타.png' %}" alt="에타 로고" class="logo-img">
                <div class="logo-text">
                    <p class="logo-everytime">에브리타임</p>
                    <p class="logo-univname">덕성여대</p>
                </div>
            </div>
            
            <ul class="banner-top">
                <li><div>게시판</div></li>
                <li><div>시간표</div></li>
                <li><div>강의실</div></li>
                <li><div>학점계산기</div></li>
                <li><div>친구</div></li>
                <li><div>책방</div></li>
                <li><div>캠퍼스픽</div></li>
            </ul>

            <div class="users-menu">
                <img src="{% static "img/icn_m_chat_gray800_light.png" %}" alt="쪽지" class="icon-img">
                <img src="{% static "img/icn_m_account_gray800_light.png" %}" alt="내 정보" class="icon-img">
            </div>
        </div> 

        <div class="mobile-header">
            <img src="{% static "img/aside.title.hamburger.png" %}" alt="메뉴" class="hamburger-icon" onclick="toggleNav()">
            <p class="which-board">비밀게시판</p>
        </div>

    </div>
</header>

<nav class="side-hamburger">
    <div class="everytime-logo-hamburger">            
        <img src="{% static "img/에타.png" %}" alt="에타 로고" class="logo-img">
        <div class="logo-text">
            <p class="logo-everytime">에브리타임</p>
            <p class="logo-univname">덕성여대</p>
        </div>
    </div>
    
    <ul class="banner-top">
        <li><div>게시판</div></li>
        <li><div>시간표</div></li>
        <li><div>강의실</div></li>
        <li><div>학점계산기</div></li>
        <li><div>친구</div></li>
        <li><div>책방</div></li>
        <li><div>캠퍼스픽</div></li>
    </ul>

    <div class="users-menu">
        <img src="{% static "img/icn_m_chat_gray800_light.png" %}" alt="쪽지" class="icon-img">
        <img src="{% static "img/icn_m_account_gray800_light.png" %}" alt="내 정보" class="icon-img">
    </div>
</nav>

<nav class="bulletin-board">
        <div class="board-type">
            <ul class="board-type-list">
                <li>자유게시판</li>
                <li class="secret-board">비밀게시판</li>
                <li>질문게시판</li>
                <li>졸업생게시판</li>
                <li>새내기게시판</li>
                <li>시사·이슈</li>
                <li>정보게시판</li>
                <li>이벤트게시판</li>
            </ul>
            <ul class="board-type-list">
                <li>홍보게시판</li>
                <li>동아리·학회</li>
            </ul>
        </div>

        <div class="board-type">
            <ul class="board-type-list">
                <li>취업·진로</li>
                <li>⭐️👩🏻‍🏫교직이수👩🏻‍🏫⭐️👩🏻</li>
                <li>덕성 예비공무원들♡</li>
                <li>대학원 뿌슝뿌슝🔥🔥</li>
                <li>미래의 회계사(CPA)</li>
            </ul>
        </div>

        <div class="board-type">
            <ul class="board-type-list">
                <li>총학생회</li>
                <li>신문사</li>
                <li>영자신문사</li>
                <li>운현방송국</li>
                <li>대학일자리본부</li>
                <li>교지편집위원회</li>
                <li>과학기술대학학생회</li>
                <li class="clickForMore">더 보기</li>
            </ul>
        </div>

        <div class="board-type">
            <ul class="board-type-list">
                <li>🌺뻔선뻔후 찾기 프로젝트🌺</li>
                <li>🌺덕성여대 장터</li>
                <li>♡덕성여대 기숙사♡</li>
                <li>주의 없는 게시판</li>
                <li>덕성 연애방</li>
                <li>덕성여대 자취생 모임</li>
                <li>덕성여대~수유역 맛집</li>
                <li>미팅 모집방</li>
                <li class="clickForMore">더 보기</li>
            </ul>
        </div>

        <div class="board-type">
            <ul class="board-type-list">
                <li>👩덕성의 국가근로동자들</li>
                <li>퀴어이기 전에 여성</li>
                <li>💘덕성 파견학생💘</li>
                <li>덕성의 아이돌 ❤️</li>
                <li>덕친소 : 내 덕친은 누구</li>
                <li>덕성이네 고추밭</li>
                <li>정병자조클럽</li>
                <li class="clickForMore">더 보기</li>
            </ul>
        </div>
    </nav>

    <div class="main-container"> 
    <section class="board-contents">
        
        <div class="board-title-whole">
            <div class="board-title">비밀게시판</div>
        </div>

        <article class="post">
            <div class="post-header">
                <div class="profile-left">
                    <img src="{% static "img/anonymous.profile.png" %}" alt="익명 프로필 이미지" class="anonymous-image">
                    <div class="anonymous-info">
                        <h3 class="anonymous-name">익명</h3>
                        <span class="post-time">03/31 16:25</span>
                    </div>
                </div>

                <div class="message-report">
                    <p class="send-message">쪽지</p>
                    <p class="report">신고</p>
                </div>
            </div>

            <h2 class="post-title">대강의동 들어가는 계단은</h2>
            <p class="post-content">맨날 보수공사 한다는거 같은데<br>왜 맨날 뽀개지기 직전이지</p>

            <div class="status">
                <span class="vote-count2">
                    <img src="{% static "img/container.articles.vote.png" %}" alt="공감" class="vote-icon2">
                    <span class="vote-num">1</span>
                </span>
                <span class="comment-count2"><img src="{% static "img/container.articles.comment.png" %}" alt="댓글" class="comment-icon2">0</span>
                <span class="scrap-count2">
                    <img src="{% static "img/container.articles.scrap.png" %}" alt="스크랩" class="scrap-icon2">
                    <span class="scrap-num">0</span>
                </span>
            </div>
            <div class="like-scrap">
                <span class="like" onclick="addLike()">
                    <img src="{% static "img/container.articles.buttons.posvote.png" %}" alt="공감" class="like-icon">공감
                </span>
                <span class="scrap" onclick="addScrap()">
                    <img src="{% static "img/container.articles.buttons.scrap.png" %}" alt="스크랩" class="scrap-icon">스크랩
                </span>
            </div>
        </article>

        <div class="comments">
            <input type="text" placeholder="댓글을 입력하세요." class="comment-input">
            <div class="anonym-submit">
                <div class="check-group">
                    <input type="checkbox" class="anonym-check">
                    <span class="check-text">익명</span>
                </div>
                <img class="submit-btn" src="{% static "img/container.articles.write.submit.png" %}" alt="완료">
            </div>
        </div>

        <div class="comment-list-box">
            <div class="comment-group">
            <div class="comment-item">
                <div class="comment-profile">
                    <div class="comment-img-author">
                        <img src="{% static "img/anonymous.profile.png" %}" alt="익명" class="comment-anon-img">
                        <div class="comment-author">익명1</div>
                    </div>
                    <div class="comment-btns">
                        <span class="reply-btn">대댓글</span>
                        <span class="like-btn">공감</span>
                        <span class="send-message">쪽지</span>
                        <span class="report">신고</span>
                    </div>
                </div>
                <p class="comment-text">지금 대강의동 공사해??</p>
                <div class="comment-meta">
                    <span class="comment-time">10분 전</span>
                    <span class="vote-count2">
                        <img src="{% static "img/container.articles.vote.png" %}" alt="공감" class="vote-icon2">
                    <span class="vote-num">2</span>
                </span>
                </div>
            </div>
            </div>
            
            <div class="reply-container">
            <div class="comment-reply">
                <div class="comment-profile">
                    <div class="comment-img-author">
                        <img src="{% static "img/anonymous.profile.png" %}" alt="익명" class="comment-anon-img">
                        <div class="comment-author">익명2</div>
                    </div>
                        <div class="comment-functions">
                            <span class="comment-like">공감</span>
                            <span class="send-message">쪽지</span>
                            <span class="report">신고</span>
                        </div>
                    </div>
                    <p class="comment-text">응 며칠 전부터 하더라</p>
                    <div class="comment-meta">
                        <span class="comment-time">2분 전</span>
                        <span class="vote-count2">
                            <img src="{% static "img/container.articles.vote.png" %}" alt="공감" class="vote-icon2">
                        <span class="vote-num">1</span>
                    </span>
                    </div>
                </div>

                    <div class="replys">
                        <input type="text" placeholder="대댓글을 입력하세요." class="reply-text">
                        <div class="reply-submit">
                            <img class="anonym" src="{% static "img/container.articles.write.anonym.png" %}" alt="익명 체크박스 이미지">
                            <img class="reply-submit-btn" src="{% static "img/container.articles.write.submit.png" %}" alt="완료">
                        </div>
                    </div>
                
            </div>
            </div>
    

        
            
        <div class="pagination">
            <img src="{% static "img/container.articles.pagination.list.png" %}" alt="글 목록" class="pagination-icon">
            <span class="post-list">글 목록</span>
        </div>
    </section>


    <aside class="right-sidebar">
    
        <div class="sidebar-box">
            
            <div class="sidebar-title-box">
                <h3 class="sidebar-title">실시간 인기 글</h3>
            </div>

            <a href="#" class="sidebar-link">
                <article class="sidebar-item">
                    <p class="item-title">학교 4년동안 다니면서 가장무서웠던것</p>
                    <p class="item-content">조별과제도 미친교수도 아닌 4년째 똑같은 텐션과 친절함으로 맞아주시는 블다사장님...</p>
                    <div class="item-meta-wrap">
                        <span class="board-name">비밀게시판</span>
                        <img src="{% static "img/container.articles.vote.png" %}" alt="공감" class="vote-icon">
                        <span class="vote-count">91</span>
                        <img src="{% static "img/container.articles.comment.png" %}" alt="댓글" class="comment-icon">
                        <span class="comment-count">9</span>
                    </div>
                </article>
            </a>

            <a href="#" class="sidebar-link">
                <article class="sidebar-item">
                    <p class="item-title">3월 25일 11시~18시 학관 앞 플리마켓</p>
                    <p class="item-content">핫게 갈 수 있도록 공감 눌러주시면 감사해요 ㅎㅎ 안녕하세요!</p>
                    <div class="item-meta-wrap">
                        <span class="board-name">비밀게시판</span>
                        <img src="{% static "img/container.articles.vote.png" %}" alt="공감" class="vote-icon">
                        <span class="vote-count">48</span>
                        <img src="{% static "img/container.articles.comment.png" %}" alt="댓글" class="comment-icon">
                        <span class="comment-count">13</span>
                    </div>
                </article>
            </a>

        </div>

    <div class="sidebar-box">

        <div class="sidebar-title-box">
            <h3 class="sidebar-title">HOT 게시물</h3>
            <span class="more">더보기</span>
        </div>

        <article class="sidebar-hot-item">
            <p class="item-hot">🔥 운현극회 59기 무대디자인 부서 추가 모집</p>
            <span class="time">50분 전</span>
        </article>

        <article class="sidebar-hot-item">
            <p class="item-hot">우리학교 축제 주점 음주 관련 나에생각</p>
            <span class="time">36분 전</span>
        </article>

        <article class="sidebar-hot-item">
            <p class="item-hot">아이거지..</p>
            <span class="time">03/25 15:42</span>
        </article>

        <article class="sidebar-hot-item">
            <p class="item-hot">2학년되니까 강의실에서 이런기분임</p>
            <span class="time">03/25 14:35</span>
        </article>
        
    </div>
    </div>
    

    </aside>

    </div>

    <script src="{% static "js/detail.js" %}"></script>
</body>
</html>