    <header>
      <div class="logo">
        <div class="logo1"></div>
        <div class="logo2"></div>
      </div>
      <div class="link">
        <a href="{% url '' %}"><p id="bbb">게시판</p></a>
        <a href="{% url '' %}">시간표</a>
        <a href="{% url '' %}">강의실</a>
        <a href="{% url '' %}">학점계산기</a>
        <a href="{% url '' %}">친구</a>
        <a href="{% url '' %}">책방</a>
        <a href="{% url '' %}">캠퍼스픽</a>
      </div>
      <div class="etc">
        <div class="chatdiv">
          <div class="chat"></div>
        </div>
        <div class="myinfodiv">
          <div class="myinfo"></div>
        </div>
      </div>
    </header>
    <div class="mobile-header">
      <div class="header-wrap">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h3 id="mobile-title">비밀게시판</h3>
    </div>