{% load static %}
<header class="header-wrap">
<div class="container">
        <div class="container1">
            <div class="logoBox">
                    <img src="{% static 'img/nav.logo.png' %}" width="50px" height="50px" alt="logo">
            </div>
            <div class="logoRight">
                    <p id = "everytime"> 에브리타임</p>
                    <p id="Duksung"> 덕성여대</p>
            </div>
        </div>
            <li class="menucolor" id="menuC">게시판</li>
            <li class="menucolor">시간표</li>
            <li class="menucolor">강의실</li>
            <li class="menucolor">학점계산기</li>
            <li class="menucolor">친구</li>
            <li class="menucolor">책방</li>
            <li class="menucolor">캠퍼스픽</li>
        <div class="container3">
            <img src="{% static 'img/icon_communication_chat_filled_gray500_light.svg' %}" alt="chat">
            <img src="{% static 'img/icon_account_user_filled_gray500_light.svg' %}" alt="user">
        </div>
</div>
<div class="hamburgerBar">
    <img src="{% static 'img/aside.title.hamburger.png' %}" class="barImg" width="30" height="30" alt="Bar">
    <p> 비밀게시판</p>
</div>
</header> 