{% load static %}
    <nav class="list_of_board" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <nav class="basic_board">
            <div class="fst_line_basic_board">
                <div>자유게시판</div>
                <div class="secretBoard">비밀게시판</div>
                <div>질문게시판</div>
                <div>졸업생게시판</div>
                <div>새내기게시판</div>
                <div>시사·이슈</div>
                <div>정보게시판</div>
                <div>이벤트게시판</div>
            </div>

            <div class="snd_line_basic_board">
                <div>홍보게시판</div>
                <div>동아리·학회</div>
            </div>
        </nav>

        <div class="wrap_for_nav">
            <nav class="board_about_employment">
                <div>
                <div>취업·진로</div>
                <div>⭐️👩🏻‍🏫 교직이수👩🏻‍🏫⭐️</div>
                <div>덕성 예비공무원들♡</div>
                <div>대학원 뿌숭뿌슝🔥🔥</div>
                <div>미래의 회계사(CPA) 세...</div>
                </div>
            </nav>
        </div>

        <div class="wrap_for_nav">
            <nav class="school_inst_board">
                <ul>
                    <div>총학생회</div>
                    <div>신문사</div>
                    <div>영자신문사</div>
                    <div>운현방송국</div>
                    <div>대학일자리본부</div>
                    <div>교지편집위원회</div>
                    <div>과학기술대학 학생회</div>
                    <p class="futhermore">더보기</p>
                </ul>
            </nav>
        </div>

        <div class="wrap_for_nav">
            <nav class="board_for_dept">
                <div>
                    <div>👩‍💻디지털소프트웨어공...</div>
                    <div>📑덕성여대 경영학과📑</div>
                    <div>국제통상학과</div>
                    <div>🌚덕성 법학도🌚</div>
                    <div>✍️열공하는 약대생✍️</div>
                    <div>💰두드리는 회계학과💰</div>
                    <div>🧠심리학과 자게🧠</div>
                    <p class="futhermore">더보기</p>
                </div>
            </nav>
        </div>

        <div class="wrap_for_nav">
            <nav class="exc_board1">
                <div>
                    <div>🌺뻔선뻔후 찾기 프로젝...</div>
                    <div>🌺덕성여대 장터🌺</div>
                    <div>♡덕성여대 기숙사♡</div>
                    <div>주의 없는 게시판</div>
                    <div>덕성 연애방</div>
                    <div>덕성여대 자취생 모임</div>
                    <div>덕성여대~수유역 맛집</div>
                    <div>미팅 모집방</div>
                </div>
            </nav>
        </div>

        <div class="wrap_for_nav">
            <nav class="exc_board2">
                <div>
                    <div>퀴어이기 전에 여성</div>
                    <div>💘덕성 파견학생💘</div>
                    <div>덕성의 아이돌❤️</div>
                    <div>덕성의 국가근로동자들...</div>
                    <div>덕친소 : 내 덕친은 누구...</div>
                    <div>정병자조클럽</div>
                    <div>덕성 사랑방</div>
                    <p class="futhermore">더보기</p>
                </div>
            </nav>
        </div>
    </nav>