<nav class="sub-nav">
  <div class="nav-container">
    <div class="line"></div>
    <div class="part">
      <a href="#">자유게시판</a><a href="#">비밀게시판</a
      ><a href="#">졸업생게시판</a> <a href="#">새내기게시판</a
      ><a href="#">시사.이슈</a><a href="#">정보게시판</a
      ><a href="#">이벤트게시판</a>
    </div>

    <div class="part"><a href="#">홍보게시판</a><a href="#">동아리학회</a></div>
    <div class="line"></div>
    <div class="part">
      <a href="#">취업・진로</a><a href="#">⭐👩‍🏫교직이수👩‍🏫⭐</a>
      <a href="#">덕성 예비 공무원</a><a href="#">대학원 뿌슝뿌슝🔥🔥</a
      ><a href="#">미래의 회계사</a>
    </div>

    <div class="part">
      <a href="#">총학생회</a><a href="#">신문사</a><a href="#">영자신문사</a>
      <a href="#">운현방송국</a><a href="#">대학일자리본부</a>
    </div>
    <div class="line"></div>
    <div class="part">
      <a href="#">디지털소프트웨어</a><a href="#">덕성여대 경영학</a>
      <a href="#">국제통상학과</a><a href="#">덕성 법학도</a
      ><a href="#">두드리는 회계학</a>
    </div>

    <div class="part">
      <a href="#">덕성여대 장터</a><a href="#">♡덕성여대 기숙사♡</a>
      <a href="#">주의 없는 게시판</a><a href="#">덕성 연애방</a>
    </div>
    <div class="line"></div>
  </div>
</nav>
