{% load static %}
{% load humanize %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}

<div class="main_part" style="width: 90%;">
    <section class="secret_board">
      <header class="header_for_sb_category">
        <p>비밀게시판</p>
      </header>

      <header class="showing_hot_post">
        <div class="question">
          <img src="{% static 'img/icn_mcr_board_question_light.png' %}" alt="질문글" />
          <div class="mintbox">나란무듣는사람............</div>
        </div>

        <div class="slayy">
          <img src="{% static 'img/icn_mcr_board_hotarticle_light.png' %}" alt="핫게 불" />
          <div class="pinkbox">
            <div class="hot_post_lucky">
              <p>행운 나눔합니다🍀</p>
            </div>

            <div class="hot_post_thumbsup">
              <img src="{% static 'img/container.articles.vote.png' %}" alt="따봉" />
              <p>49</p>
            </div>
          </div>
        </div>
      </header>

      <div class="writing_new_post" id="write_btn">
        <p>새 글을 작성해주세요!</p>
        <img src="{% static 'img/container.write.background.png' %}" alt="연필" />
      </div>
      
      <div id="writing_area">
      {% include "posts/post.html" %}
      </div>

      <article class="showing_articles_in_one_page">
        {% for post in posts %}

        <article class="article1"> 
          <a method="POST" href="{% url 'posts:detail' post.id %}" enctype="multipart/form-data">
            <p class="title1">{{ post.title }}</p>
          </a>
            <p class="content1">{{ post.content }}</p>
            <p class="footer1">{{ post.created_at|naturaltime }} | {% if post.anonymity %}익명{% else %}{{ post.author }}{% endif %}</p>
        
        </article>
        {% empty %}
        <p style="text-align: center; padding: 20px;">게시글이 없습니다.</p>
        {% endfor %}
      </article>
    </section>

    <script src="{% static "js/main.js" %}"/>
</div>