{% load static %}
        <aside class="big_box_for_aside">
            <div class="now_hot_list">
                <header class="asdie_hearder_now_hot">
                    <div class="title_now_hot">실시간 인기 글</div>
                </header>

                <article class="now_hot_no1">
                    <div class="now_hot_no1_title">어린게 발랑 까져서~~~</div>
                    <div class="now_hot_no1_content">너무 귀엽다</div>
                    <footer class="now_hot_no1_footer">
                        <div class="now_hot_no1_whereareyoufrom">비밀게시판</div>
                        <div class="how_hot_no1">
                            <div class="thumbs_up_no1">
                                <img src="{% static 'img/container.articles.vote.png' %}" />
                                <p>36</p>