.bodyBox{
    margin: 0 auto 25px auto;
    padding:25px;
    gap:10px;
}
.hamburgerBar{
    display:none;
}

section {
    width: 780px;
}
.sectionComent{
    display: flex;
    flex-direction: column;
}

.section1_title{
    font-size:20px;
    border:1px solid rgb(221, 221, 221);
    padding:15px;
    margin:10px 0;
}

.sectionContent{
    border:1px solid rgb(217, 217, 217);
    padding:10px 10px 10px 10px;
}
.sectionFirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coment-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:0;
}
.sectionComment {
}
.sectionComment.active{
    display:flex;
    flex-direction: column;
    border:1px solid rgb(217, 217, 217);
    padding:10px 10px 10px 10px;
}
.sectionComment.active.dbactive{
    border-top:none;
}
/* 대댓글창 */
.dbComent{
    background-color: rgb(245, 244, 244);
    margin:5px 0;
}

.comentWriter{
    display: flex;
    margin:0;
}

.comentValue{
    padding-left:5px;
    font-size: 12px;
    font-weight: 300;
}


.writer{
    display:flex;
}
.writerImg{
    border-radius: 5px;
    padding: 0;
}
.writerImg > img{
    border-radius: 5px;
    display: block;
}
.writerAbout{
    display: flex;
    flex-direction: column;
    padding-left:10px;
}
.writerAbout2{
    display: flex;
    flex-direction: column;
    padding-left:5px;
}
.writername{
    font-size:14px;
    font-weight: 500;
    padding:0;
    margin:0;
}
.writername2{
    font-size:12px;
    font-weight: 500;
    padding:0;
    margin:0;
}
.writeTime{
    padding:0;
    margin:0;
    font-size:10px;
    color:rgb(212, 212, 212);
}
.writeButton{
    display: flex;
    align-items: flex-start;
    height:40px;
    padding:0;
    background-color: red;
    border:none;
}
.wright img{
    display: flex;
}
.writerRight ul{
    display: flex;
}
.sectionRight-menu{
    font-size: 11px;
    padding-right:7px;
    color:rgb(155, 154, 154);
}

.contentTitle{
    font-size:25px;
    font-weight: 600;
    margin:0 0 10px 0;
}


.sectionContent2{
    font-size:15px;
    margin:0 0 10px;
}
.redTxt{
    color:Red;
    font-size:13px
}
.blueTxt{
    color:rgb(154, 219, 223);
    font-size:13px;
}
.yellowTxt{
    color:rgb(253, 235, 164);
    font-size:13px;
}
.grayTxt, .grayTxt1{
    color:rgb(101, 100, 100);
    font-size:13px;
}

.reaction{
    margin:0 0 10px 0;
}

.reactionButton{
    display:flex;
}

.reaction_button1, .reaction_button2{
    background-color: rgb(245, 244, 244);
    border-radius: 6px;
    margin:2px;
    padding:2px 9px 5px 9px;
    cursor:pointer;
}
.comentContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin:0;
    width:100%;
    height:40px;
    border:1px solid rgb(217, 217, 217);
    background-color: rgb(245, 244, 244);
}
.comentbox{
    width: 100%;
    font-size: 13px;
    padding:0px;
    margin:0;
    background-color: rgb(245, 244, 244);
    border:0;
    color:gray;
}

.check-coment{
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin: 0;
    font-size:12px;
}
.check-coment:first-child {
    margin-right: 10px;
}

.anonymousBox{
    margin: 0 5px 0 0;
    height:40px;
}

.textList{
    display:flex;
    align-items: center;
    border:1px solid red;
    border-radius: 3px;
    width:fit-content; 
    font-size:12px;
    padding:5px 10px;
    margin:10px 0 0 0;
}

.textlist_style{
    color:red;
    padding-left:5px;
    margin:0;
}

.asideBox{
    margin:10px;
}
@media (max-width:640px){
    .hamburgerBar{
        display: flex;
    }
    .sectionTilte{
        display:none;
    }
    aside{
        display: none;
    }
}