#writing_area body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
}

#writing_area .title {
    display: block;

    width: 92%;
    padding: 15px 20px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;

    color: #000000;
    border: solid 1px lightgray;
}

#writing_area .main_content {
    display: flex;
    align-content: flex-start;
    padding: 20px;

    width: 92%;
    height: 600px;
    margin-left: 15px;
    font-size: 14px;

    resize: none;

    color: #666;
    border: solid 1px lightgray;
}

#writing_area .bottom_option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    border-top: 1px solid #f2f2f2;
    width: 96.5%;
    margin-left: 15px;
    margin-bottom: 10px;

    border: solid 1px lightgray;
}

#writing_area .bottom_option div {
    display: flex;
    align-items: center;
}

#writing_area .sharp, #writing_area .clip {
    padding: 0px;
    border: none;
    background-color: transparent;
}

#writing_area .sharp {
    padding: 2px 4px 2px 2px;
}

#writing_area .bottom_option img {
    height: 40px;
    width: auto;
}

#writing_area .logoPic, #writing_area .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#writing_area .checkcheck, #writing_area .anonymous {
    margin-left: 15px;
}

#writing_area .options {
    padding-right: 10px;
}

#writing_area .checkbox_text, #writing_area .anonymous_text {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    color: #444;
}

#writing_area .submit {
    padding: 0px;
    margin: 3px 0px 0px 0px;
    border: none;
    background-color: transparent;
}

#writing_area .submit img {
    height: 50px;
    background-color: #ff1900;
}

#writing_area #question_noti {
    display: none;
    background-color: #f2fcfc;
    border: 1px solid #d1eeee;
    margin: 10px 15px 15px 15px;
    border-radius: 8px;
    padding: 12px 15px;
}

#writing_area #question_noti p {
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
    color: #0ca5af;
}

#writing_area #question_noti strong {
    font-weight: bold;
}

#writing_area input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

