body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
}

.writing_zone {
    width: 780px;
    height: auto;
    background-color: #ffffff;
    border: solid 1px lightgray;
}

.title {
    display: block;

    width: 738px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;

    color: #000000;
    border: solid 1px lightgray;
}

.main_content {
    display: flex;
    align-content: flex-start;
    padding: 20px;

    width: 740px;
    height: 600px;
    margin: 0;
    font-size: 14px;

    resize: none;

    color: #666;
    border: solid 1px lightgray;
}

.bottom_option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    border-top: 1px solid #f2f2f2;
    width: 100%;

    border: solid 1px lightgray;
}

.bottom_option div {
    display: flex;
    align-items: center;
}

.sharp, .clip {
    padding: 0px;
    border: none;
    background-color: transparent;
}

.sharp {
    padding: 2px 4px 2px 2px;
}

.bottom_option img {
    height: 40px;
    width: auto;
}

.logoPic, .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkcheck, .anonymous {
    margin-left: 15px;
}

.options {
    padding-right: 10px;
}

.checkbox_text, .anonymous_text {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    color: #444;
}

.submit {
    padding: 0px;
    margin: 3px 0px 0px 0px;
    border: none;
    background-color: transparent;
}

.submit img {
    height: 50px;
    background-color: #ff1900;
}

#question_noti {
    display: none;
    background-color: #f2fcfc;
    border: 1px solid #d1eeee;
    margin: 10px 15px 15px 15px;
    border-radius: 8px;
    padding: 12px 15px;
}

#question_noti p {
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
    color: #0ca5af;
}

#question_noti strong {
    font-weight: bold;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

