* {
    margin: 0;
    padding: 0;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "돋움", sans-serif;
}

#signupInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 100px;
    margin-left: 300px;
    margin-bottom: 40px;
}

#oneSentence {
    display: flex;
    flex-direction: row;
}

#oneSentence > div {
    margin-left: 4px;
    margin-right: 4px;

    font-weight: bold;
}

#signupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: 300px;
}

.inputBigBox {
    margin-bottom: 20px;
}

.inputBigBox > p {
    margin-bottom: 5px;
    color: #828181;
}

.inputBox {
    border: none;
    background-color: #e7e7e7;
    width: 800px;
    height: 50px;

    border-radius: 20px;
}

#signupBtn {
    border: none;
    background-color: #737373;
    width: 800px;
    height: 50px;

    border-radius: 20px;
}

#signupBtn > p {
    color: white;
    font-size: larger;
}