{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %} {% block body %}
<div class="signup-container">
  <h2>에브리타임 회원가입</h2>
  <p>
    에브리타임 계정으로 <strong>캠퍼스픽, 에브리타임</strong> 등<br />다양한
    대학생 서비스를 모두 이용하실 수 있습니다.
  </p>

  <form method="post" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    <div class="input-group">
      <label>이름</label>
      <input
        type="text"
        name="username"
        id="regName"
        placeholder="이름을 입력하세요"
      />
    </div>

    <div class="input-group">
      <label>닉네임</label>
      <input
        type="text"
        name="nickname"
        id="regNickname"
        placeholder="닉네임을 입력하세요"
      />
    </div>

    <div class="input-group">
      <label>이메일</label>
      <input
        type="email"
        name="email"
        id="regEmail"
        placeholder="이메일을 입력하세요"
      />
    </div>

    <div class="input-group">
      <label>비밀번호</label>
      <input
        type="password"
        name="password1"
        id="regPw"
        placeholder="비밀번호 (8자 이상)"
      />
    </div>

    <div class="input-group">
      <label>비밀번호 확인</label>
      <input
        type="password"
        name="password2"
        id="regPwConfirm"
        placeholder="비밀번호 확인"
      />
    </div>

    <input type="submit" id="signupBtn" value="회원가입" />
  </form>
</div>

<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
{% comment %} <h2>회원가입</h2>
<form method='post' action={% url 'accounts:signup' %}>
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>signup</button>
</form> 
!doctype html
{% endcomment %}